// Variable va arriba de todo

$color-principal: black;

main {
    .section-principal {

        h1 {
            color: aqua;
        }

    }
    p {

        color: $color-principal; 

    }

    .boton {
        background-color: aqua;
        text-decoration: none;
        padding: 15px;
        margin: 30px;
    }

    .boton-2 {

        @extend .boton;

    }
}

